* {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.mission-color {
  color: crimson;
}
.header01 {
  font-size: 65px;
  text-align: left;
  border-top: none;
  border-left: 8px solid orange;
}
.header-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  padding: 25px;
}
.header-mission img {
  width: 100%;
}
.focus-detail {
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  width: 80%;
}
.contact-button {
  text-decoration: none;
  background-color: brown;
  color: bisque;
  font-size: 25px;
  border-radius: 5px 10px 5px 10px;
  text-align: center;
  padding: 6px;
  margin-top: 5%5%;
}
.contact-button:hover {
  background-color: chocolate;
}
#scroll-detail {
  margin-top: 5%;
  font-weight: lighter;
}
#mission-header {
  border: none;
  text-align: center;
}
.mission-2022 {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.plan img {
  width: 50%;
}
.plan {
  margin: 3%;
  padding: 3%;
}
#goals {
  background-blend-mode: screen;
  background: rgba(255, 99, 255, 0.3);
}
.image {
  margin: 5%;
  width: 50%;
}
#developer {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: left;
}
#developer01 {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: right bottom;
}
.footer-section {
  margin-top: 2%;
  background-color: black;
  width: 100%;
  color: aliceblue;
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
}
#my-image {
  width: 40%;
}
#about-me {
  padding: 5%;
  border-radius: 10%;
}
