* {
  background-color: bisque;
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}
#mission-color {
  color: crimson;
}
.header01 {
  font-size: 45px;
  text-align: left;
}
.header-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.header-mission img {
  width: 100%;
}
#focus-detail {
  font-weight: normal;
  font-size: 15px;
}
#contact-button {
  text-decoration: none;
  background-color: brown;
  color: bisque;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 6px;
}
#contact-button:hover {
  background-color: chocolate;
}
